.container-list {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  .filter-form {
    padding: 20px;
    margin: 0px 0px 15px;
    background: var(--ti-base-color-bg-1);
  }

  .table-scroll {
    overflow-y: auto;
    background: var(--ti-base-color-bg-1);
  }

  .table-wrapper {
    min-height: 700px;
    padding: 20px;
  }
}

.tiny-drawer-body-form {
  padding-top: 20px;
}

.table-delete-button {
  color: var(--ti-base-color-bg-7) !important
}